extends layout

block content
	.jumbotron
		.col-xs-4
		.col-xs-4.text-center
			h3 Subscribe yourself
			form(method="post" , action="/send").myForm
				div.form-group
					input.form-control(placeholder="Enter email address" , name ="email")
				div.form-group
					textarea.mail.form-control(placeholder="Enter your mail here" , name = "mail")
				p.remChar 140 characters remaining
				div.form-group
					button.send.btn.btn-primary Send
		.col-xs-4
		.clearfix